<a href="#" class="nav-menu-button">Menu</a>

<div class="nav-inner">
	<img src="/images/avatar.jpg" alt="" class="avatar">

	<div class="pure-menu pure-menu-open">
		<h1>minboost</h1>

		<p>
			<a href="mailto:min@minboost.com"><i class="icon-inbox"></i></a>
			<a href="http://stackoverflow.com/users/2112408/minboost"><i class="icon-stackoverflow"></i></a>
			<a href="http://linkedin.com/in/minboost"><i class="icon-linkedin"></i></a>
			<a href="http://www.twitter.com/minboost"><i class="icon-twitter"></i></a>
		</p>
    </div>
</div>