<!DOCTYPE html>
<head>
	{% include head.html %}
</head>
<body>
	<div id="layout" class="content pure-g">
	    <div id="nav" class="pure-u">
	        {% include nav.html %}
	    </div>

	    <div id="list" class="pure-u-1">
	    	{% include posts.html %}
	    </div>

	    <div id="main" class="pure-u-1">
	        {{ content }}
	    </div>
	</div>

	<script>
	    YUI().use('node-base', 'node-event-delegate', 'node-load', function (Y) {

	        var menuButton = Y.one('.nav-menu-button'),
	            nav        = Y.one('#nav');

	        // Setting the active class name expands the menu vertically on small screens.
	        menuButton.on('click', function (e) {
	            nav.toggleClass('active');
	        });

	        // Your application code goes here...
	        Y.all('#list .email-item').on('click', function (e) {
	        	Y.all('.email-item-selected').removeClass('email-item-selected');
	        	var el = Y.one(e.target).ancestor('.email-item');
	        	el.addClass('email-item-selected');
	        	Y.one('#main').load(el.getData('href'));
	        });

		    // This just makes sure that the href="#" attached to the <a> elements
		    // don't scroll you back up the page.
		    Y.one('body').delegate('click', function (e) {
		        e.preventDefault();
		    }, 'a[href="#"]');
		});
	</script>
	{% include ga.html %}
</body>